ol{
  font-size: small;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd; /* Optional border for styling */
}

header,p{
  font-weight:bold;
  margin: 10px;
}

.display {
  margin: 10px;
 /*  height: 400px; Adjust height as needed */
  width: 800px;
  border: 1px solid #070101; /* Optional border for styling */
  background-color: rgb(248, 244, 187);
}

.queryField {
  margin: 2px;
}

#loginBlock {
  background-color: rgb(98, 189, 231);
}

#articlesList {
  height: 200px; /* Adjust height as needed */
  overflow-y: scroll;
  overflow: auto;
  background-color: rgb(248, 244, 187);
}

